body {
  font-family: -apple-system, BlinkMacSystemFont, "Epilogue", "Karla", Roboto, Helvetica, Arial, sans-serif;
  <!-- max-width: 38rem; -->
  padding: 0px;
  height: 100%;
  margin: 0;
}

.container{
	width:100vw;
	height:100vh;
	padding:0px;
	margin:0px;
}

.row{
	padding:0px;
	margin:0px;
	overflow: hidden;
}


#categoryCol{
	background-color:#233D4D;
}

#midCol{
	background-color: white;
}

#rightCol{
	background-color:white;
	color:white;
}


/*MIDDLE COL*/
div#midCol .list-group{
    height: 100%;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}

#filepathText{
	display: inline-block;
	white-space: nowrap;
	overflow: hidden !important;
	text-overflow: ellipsis;
	padding-left: 10px;
	background-color:inherit;
}

div#midCol ul li{
	white-space: nowrap;
	display: inline-block;
	background-color: inherit;
	padding: 2px;
}

#fileAddRow{
	height:14vh;
	text-align: center;
	padding: 10px;
}

#buttonContainer{
	width: 100px;
}


#addFileBar{
	width:100%;
}

#fileListRow{
	height:86vh;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}

#fileList{
	width:100%;
}

/*LEFT COL*/
div#categoryCol .list-group{
	height: 86vh;
	margin-bottom: 0px;
	overflow:scroll;
	-webkit-overflow-scrolling: touch;
}

div#categoryCol ul li{
	white-space: nowrap;
	display: inline-block;
	background-color: inherit;
}

div#categoryCol .btn{
	color:#fcf4e4;
	border:0px solid transparent;
}

div#categoryCol .row{
	height: 7vh;
}

#addCategoryInput{
	width: 80%;
}

#addCategoryButton{
	width:20%;
}

/*RIGHT COL*/
div#tagCol ul li{
	display: inline-block;
	background-color:inherit;
	white-space: nowrap;
	height: 30px;
	border:none
}

div#tagCol .btn{
	border:0px solid transparent;
}

div#tagCol label{
	color:grey;
}

div#tagCol .list-group{
	height: 86vh;
	overflow:scroll;
	-webkit-overflow-scrolling: touch;
}

div#tagCol .row{
	text-align: center;
	height: 7vh;
}

#addTagInput{
	width: 80%;
}

#addTagButton{
	width:20%;
}

#addTagRow{
	text-align: center;
}
